@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewBag.difference > 10)
{
    <h1>The difference is <span class="greater">@ViewBag.difference</span></h1>
}
@if (ViewBag.difference < 10)
{
    <h1>The difference is <span class="lesser">@ViewBag.difference</span></h1>
}